/* :root{
  --color-p: #2a50c3;
  --color-s: rgb(16, 11, 0); 
  --color-a: #e6d3a3; 
  --color-a2: #D8D174; 
  --color-a3: rgb(181, 196, 84); 
} */



.font-title{
  font-family: "Cal Sans", sans-serif;
 
}


*{
  font-family: "Hind Mysuru", sans-serif;

}




